<div class="main">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="title">STOREHOUSE</span>
    <div class="menu">
      <mat-icon class="icon" (click)="showDropDown = !showDropDown">menu</mat-icon>
      <div class="drop-down" *ngIf="showDropDown">
        <div>Log Out</div>
        <div>Settings</div>
      </div>
    </div>
  </div>
  <div class="body" fxLayout="row">
    <div class="side-panel" fxLayout="column">
      <div class="friends" fxFlex="90%">
        <div class="person" [class.selected]="selectedPerson === 0" fxLayout="column" fxLayoutAlign="center" (click)="selectPerson(0)"><div class="name">My Recipes</div></div>
        <div class="person" [class.selected]="friend.id === selectedPerson" *ngFor="let friend of friends; let i = index" fxLayout="column" fxLayoutAlign="center" (click)="selectPerson(i + 1)">
          <div class="name">{{friend.name}}</div>
        </div>
      </div>
      <div class="line"></div>
      <div fxFlex="10%" fxLayoutAlign="center center">
        <button mat-raised-button class="button" (click)="addFriend()">Add Friend</button>
      </div>
    </div>
    <div class="recipes" fxLayout="row">
      <div fxFlex="5%"></div>
      <div fxFlex="90%">
        <div class="types recipe-header" fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="row">
            <div class="type" [class.selectedType]="recipeType === 'uploads' && selectedPerson === 0" (click)="recipeType = 'uploads'">Uploads</div>
            <div *ngIf="selectedPerson === 0" class="type" [class.selectedType]="recipeType === 'favorites'" (click)="recipeType = 'favorites'">Favorites</div>
          </div>
          <button *ngIf="selectedPerson === 0" mat-raised-button class="button" (click)="createRecipe()">Add Recipe</button>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div fxLayout="column">
            <div *ngFor="let recipe of myRecipes[0]" class="recipe" (click)="viewRecipe">
              <div class="title">{{recipe.title}}</div>
            </div>
          </div>
          <div fxLayout="column">
            <div *ngFor="let recipe of myRecipes[1]" class="recipe" (click)="viewRecipe">
              <div class="title">{{recipe.title}}</div>
            </div>
          </div>


          <!-- <div class="recipe" (click)="viewRecipe()">
            <div class="title">Steak</div>
          </div>
          <div *ngIf="selectedPerson === 0" class="recipe" (click)="viewRecipe()">
            <div class="title">Steak</div>
          </div> -->
        </div>
      </div>
      <div fxFlex="5%"></div>
    </div>
  </div>
</div>