
.main {
    height: 100%
}

.header {
    background: rgb(24, 72, 127);
    height: 10vh;
    color: white;
    padding-left: 15px;
    padding-right: 15px;

    .title {
        font-size: 50px;
    }

    .menu {
        position: relative;
        cursor: pointer;

        .drop-down {
            position: absolute;
            top: 0;
            left: -75px;
            color: black;
            background: white;
        }

        .icon {
            font-size: 40px;
            height: 40px;
            width: 40px;
        }
    }
}

.body {
    height: calc(100% - 10vh);

    .side-panel {
        height: 100%;
        width: 15vw;
        background: #eeeeee;
        border: 1px solid #877878;

        .friends {
            overflow-y: auto;
        }

        .person {
            height: 7vh;
            cursor: pointer;
    
            .name {
                margin-left: 15px;
                font-size: 25px;
            }
        }
    
        .selected {
            background: rgb(159, 197, 232);
        }
    }
    
    .recipes {
        width: 100%;
        
        .recipe-header {
            margin-top: 40px;
        }

        .types {
            
            .type {
                cursor: pointer;
                margin-right: 30px;
                font-size: 25px;
            }

            .selectedType {
                border-bottom: 1px solid;
            }
        }
    
        .recipe {
            height: 31vh;
            width: 30vw;
            margin-top: 45px;
            border-radius: 25px;
            background: #eeeeee;
            cursor: pointer;
            box-shadow: 4px 3px 3px 1px rgba(0, 0, 0, 0.2);
            border: 1px solid #877878;

            .title {
                font-size: 25px;
                margin-left: 10px;
                margin-top: 10px;
            }
        }
    }
}

.line {
    height: 1px;
    background: #A0A0A0;
    margin-left: 20px;
    margin-right: 20px;
}

.button {
    background: #FF9933;
    color: white;
    font-weight: bold;
}