
.dialog {
    height: 100%;

    .title {
        font-size: 40px;
        font-weight: bold;
    }

    button {
        margin-left: 10px;
        height: 6vh;
        width: 6vw;
    }

    .primary {
        background: rgb(111, 168, 220);
    }
}

.button {
    background: #FF9933;
    color: white;
    font-weight: bold;
}