<div class="dialog" fxLayout="column">
    <div class="title" fxFlex="10%">CREATE RECIPE</div>
    <div fxFlex="20%">
        <mat-form-field>
            <input matInput placeholder="Title">
        </mat-form-field>
    </div>
    <div fxFlex="30%">
        <mat-form-field>
            <textarea matInput placeholder="Ingredients"></textarea>
        </mat-form-field>
    </div>
    <div fxFlex="20%">
        <mat-form-field>
            <textarea matInput placeholder="Directions"></textarea>
        </mat-form-field>
    </div>
    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button (click)="cancel()">CANCEL</button>
        <button mat-raised-button class="button" (click)="cancel()">CREATE</button>
    </div>
</div>