<div class="dialog" fxLayout="column">
    <div class="title" fxFlex="10%">ADD FRIEND</div>
    <div fxFlex="70%">
        <div fxLayout="row" class="search">
            <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="friend">
            </mat-form-field>
        </div>
    </div>
    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button (click)="cancel()">CLOSE</button>
        <button [disabled]="friend === ''" mat-raised-button class="button" (click)="add()">ADD</button>
    </div>
</div>