
.dialog {
    height: 100%;

    .title {
        font-size: 40px;
        font-weight: bold;
    }

    .icon {
        cursor: pointer;
    }

    .favorite {
        background: yellow;
    }

    button {
        margin-left: 10px;
        height: 6vh;
        width: 6vw;
    }
}

.button {
    background: #FF9933;
    color: white;
    font-weight: bold;
}