<div class="dialog" fxLayout="column">
    <div fxFlex="10%" fxLayout="row" fxLayoutAlign="space-between">
        <span class="title">VIEW RECIPE</span>
    </div>
    <div fxFlex="20%">
        <mat-form-field>
            <input [disabled]="true" matInput placeholder="Title" [(ngModel)]="recipe.title">
        </mat-form-field>
    </div>
    <div fxFlex="30%">
        <mat-form-field>
            <textarea [disabled]="true" matInput placeholder="Ingredients" [(ngModel)]="recipe.ingredients"></textarea>
        </mat-form-field>
    </div>
    <div fxFlex="20%">
        <mat-form-field>
            <textarea [disabled]="true" matInput placeholder="Directions" [(ngModel)]="recipe.directions"></textarea>
        </mat-form-field>
    </div>
    <div fxFlex="20%" fxLayout="row" fxLayoutAlign="end">
        <button mat-raised-button (click)="cancel()">CLOSE</button>
        <button mat-raised-button class="button" (click)="cancel()">FAVORITE</button>
    </div>
</div>